.error-message {
    font-size: 12px;
    color: red;
  }


.ai-form-value {
  background: #fbece6;
  margin-top: 10px;
  padding: 16px;
  border-radius: 4px;
  border: none;
  color: var(--Black);
  width: 100%;
  box-sizing: border-box;

  &.small {
    padding: 8px 16px;
    margin: 0;
  }


  &:focus {
    outline: none;
  }

  .ai-form-wrapper .ai-button-row {
    margin-top: 40px;
  }

  .ai-form-wrapper .ai-button-row {
    margin-top: 40px;
  }
}